:root {
    --thm-font: 'Barlow Condensed', sans-serif;
    --heading-font: 'Charmonman', cursive;
    --thm-base: #ffa801;
    --thm-base-rgb: 255, 168, 1;
    --thm-primary: #40b9eb;
    --thm-primary-rgb: 64, 185, 235;
    --thm-secondary: #ff0143;
    --thm-secondary-rgb: 255, 1, 67;
    --thm-black: #082740;
    --thm-black-rgb: 8, 39, 64;
    --thm-gray: #eceeef;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
body {
    font-family: var(--thm-font);
    color: #7c859b;
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
}
.topbar-one {
    background-color: #7d0004;
}
.topbar-one .container-fluid {
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.topbar-one__left {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 60px;
}
.topbar-one__right {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.main-nav__right {
    margin-left: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 60px;
}
.topbar-one__left a {
    color: #F5F5F5 !important;
    text-decoration: none;
}
 

.main-nav__search {
    margin-left: 20px;
    font-size: 21px;
    color:white;
    text-decoration: none;
    margin-right: 0px;
}
.main-nav__login, .main-nav__search {
    color: #fff;
    margin-right: 0;
    margin-left: 30px;
    font-size: 21px;
    text-decoration: none;
}
.main-nav__login:hover, .main-nav__search:hover{
    color:red;
}


/* section menu */
@media (min-width: 1200px){
.main-nav__header-one .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
}
.main-nav__header-one .container {
    position: relative;
}
.main-nav__logo-box {
    background-color: transparent;
    max-width: 150px;
    padding: 15px 0;
}
.main-nav__logo-box {
    
    text-align: center;
    width: 100%;
    max-width: 244px;
    display: block;
    margin-right: 60px;
    padding: 41.65px 0;
}
img.main-logo {
    height: 40px;
    width: auto;
}

@media (min-width: 1200px){
.main-nav__logo-box .side-menu__toggler {
    display: none;
}}
.main-nav__logo-box .side-menu__toggler {
    font-size: 20px;
    color: var(--thm-black);
}
 
@media (min-width: 1200px){
.main-nav__header-one .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}}

@media (min-width: 1200px){
.main-nav__main-navigation {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}}

.main-nav__main-navigation .main-nav__navigation-box, .main-nav__main-navigation .main-nav__navigation-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__main-navigation .main-nav__navigation-box {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.main-nav__main-navigation .main-nav__navigation-box > li {
    padding: 15px 0px;
    position: relative;
    padding: 44.5px 0px;
}
.main-nav__main-navigation .main-nav__navigation-box > li + li {
    margin-left: 45px;
}
 

.main-nav__main-navigation .main-nav__navigation-box > li > a {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--thm-font);
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.main-nav__main-navigation .main-nav__navigation-box > li > a:hover {
    color: rgb(24, 152, 238);
    text-decoration: none;
}
/* section slider */
#slide3d {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#owl-tour3d {
    height: calc(90vh - 100px);
    width: 100%;
    margin-bottom: 60px;
}
#owl-tour3d .owl-stage-outer {
    height: 100%;
}
.owl-stage {
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 6104px;
}
#owl-tour3d .owl-stage {
    height: 100%;
}
.owl-item.active {
    width: 1526px;
}
#owl-tour3d .owl-item {
    height: 100%;
}
#owl-tour3d .owl-slide-iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    z-index: 1;
    position: absolute;
}

/* btn click slide */
#owl-tour3d .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
#owl-tour3d .owl-nav .owl-prev {
    float: left;
    margin-left: 20px;
}
#owl-tour3d .owl-nav button {
    font-size: 90px;
    line-height: 90px;
    border-radius: 3px;
    color: #FFF;
    opacity: 0.3;
}
#owl-tour3d .owl-nav .owl-next {
    float: right;
    margin-right: 20px;
}
carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.scroll-down-button.style5 {
    padding-top: 70px;
}
.scroll-down-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 13px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scroll-down-button.style5 span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(
-45deg);
    transform: rotate(
-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

/* tour-search-one__home-two */
.tour-search-one__home-two {
    margin-bottom: 20px;
}
.tour-search-one__home-two {
    position: relative;
    z-index: 10;
    margin-top: -30px;
}
@media (min-width: 1200px){
.container {
    max-width: 1200px;
}
}
 
.tour-search-one {
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 5%);
}
.tour-search-one__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.tour-search-one__inputs {
    -webkit-box-flex: 1;
    flex: 1 1 calc(100% - 224px);
    max-width: calc(100% - 224px);
    flex-wrap: wrap;
    display: -webkit-box;       
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
tour-search-one__input-box + .tour-search-one__input-box {
    border-left: 1px solid #eceeef;
}
.tour-search-one__input-box {
    -webkit-box-flex: 1;
    flex: 1 1 33.333%;
    max-width: 33.333%;
    padding: 0px 40px;
    padding-top: 39.5px;
    padding-bottom: 24.5px;
}
.tour-search-one__input-box label {
    display: block;
    margin: 0;
    text-transform: uppercase;
    color: var(--thm-black);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2em;
    line-height: 1em;
    box-shadow: none;
}


.tour-search-one__input-box input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]), .tour-search-one__input-box textarea {
    border: none;
    outline: none;
    font-size: 20px;
    color: #555;
    display: block;
    line-height: 35px;
}
.tour-search-one__input-box .bootstrap-select > .dropdown-toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0;
    color: #555;
    padding: 0;
    line-height: 35px;
}
.bootstrap-select > .dropdown-toggle {
    box-shadow: none !important;
}
.tour-search-one__btn-wrap {
    -webkit-box-flex: 1;
    flex: 1 1 224px;
    max-width: 224px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.thm-btn {
    padding: 10px 30.5px;
}
.tour-search-one__btn {
    padding: 43px 77.25px;
    font-size: 20px;
    font-weight: 600;
}
.thm-btn {
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    background-color: var(--thm-base);
    font-size: 18px;
    color: var(--thm-black);
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 50.5px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.tour-search-one__input-box + .tour-search-one__input-box {
    border-left: 1px solid #eceeef;
}     

/* tin tức sự kiện */
.block-title {
    margin-bottom: 60px;
}
.block-title p {
    margin: 0;
    text-transform: uppercase;
    color: var(--thm-base);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 1em;
}
.block-title p + h3 {
    margin-top: 15px;
}
.block-title h3 {
    color: #76050b !important;
}
.block-title h3 {
    margin: 0;
    color: var(--thm-black);
    font-size: 60px;
    font-weight: 600;
    font-family: var(--thm-font);
    line-height: 1em;
}
.blog-one__single {
    margin-bottom: 30px;
    position: relative;
}
.blog-one__image {
    position: relative;
    background-color: var(--thm-black);
    overflow: hidden;
}
.bg-img {
    background-size: cover !important;
    background-position: center !important;
}
.blog-one__image > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: var(--thm-secondary);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 0;
}
.blog-one__content {
    padding: 35px 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(236, 238, 239);
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.blog-one__meta {
    margin: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    /* type.scss */
}
.blog-one__meta li a {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.blog-one__meta li i {
    font-size: 13px;
    color: var(--thm-base);
    margin-right: 5px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.blog-one__meta li + li {
    margin-left: 20px;
}
.blog-two__content h3 a, .blog-one__content h3 a {
    color: inherit;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.blog-one__single:hover .blog-one__image > a {
    opacity: 1;
}
.blog-one__single:hover .blog-one__content {
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.05);
}
a:hover{
    text-decoration: none;
}
.blog-two__content h3 a:hover,
.blog-one__content h3 a:hover {
    color: var(--thm-primary);
}
/* css place */
.destinations-three__single {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: var(--thm-black);
}
.bg-img {
    background-size: cover !important;
    background-position: center !important;
}
.destinations-three__content, .destinations-three__hover-content {
    padding-left: 20px;
    padding-right: 50px;
    width: 100%;
}
.destinations-three__content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-left: 40px;
    padding-bottom: 40px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
 
}
.destinations-three__single h3 {
    font-size: 30px;
}

.destinations-three__hover-content h3, .destinations-three__content h3 {
    font-family: var(--thm-font);
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}
 
 
 

/* css Tourse */

.tour-one {
    padding-top: 120px;
    padding-bottom: 90px;
}

.tour-grid {
    padding-top: 120px;
    padding-bottom: 120px;
}

    .tour-grid .post-pagination {
        margin-top: 30px;
    }

.tour-one__single {
    position: relative;
    margin-bottom: 30px;
}


.tour-one__image {
    position: relative;
    background-color: var(--thm-black);
    overflow: hidden;
}

    .tour-one__image > img {
        width: 100%;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
        transition: opacity 500ms ease, -webkit-transform 500ms ease;
        transition: transform 500ms ease, opacity 500ms ease;
        transition: transform 500ms ease, opacity 500ms ease, -webkit-transform 500ms ease;
    }

    .tour-one__image > a {
        width: 38px;
        height: 38px;
        background-color: rgba(var(--thm-black-rgb), .2);
        border-radius: 50%;
        text-align: center;
        line-height: 38px;
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 10;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }

.tour-one__single:hover .tour-one__image > img {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.tour-one__single:hover .tour-one__image > a {
    background-color: #fff;
    color: var(--thm-secondary);
}


.tour-one__content {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(236, 238, 239);
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.tour-one__single:hover .tour-one__content {
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.05);
}

.tour-one__stars {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1em;
    margin-bottom: 5px;
}

    .tour-one__stars i {
        font-size: 14px;
        color: var(--thm-base);
        margin-right: 10px;
    }

.tour-one__content p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
}

    .tour-one__content p span {
        color: var(--thm-secondary);
        font-size: 22px;
        font-weight: 600;
    }


.tour-one__meta {
    margin: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 25px;
    border-top: 1px solid rgb(236, 238, 239);
}

    .tour-one__meta li + li {
        margin-left: 20px;
    }

    .tour-one__meta li a {
        font-size: 16px;
        font-weight: 500;
        color: #555;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .tour-one__meta li i {
        font-size: 14px;
        margin-right: 5px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .tour-one__meta li a:hover {
        color: var(--thm-black);
    }

        .tour-one__meta li a:hover i {
            color: var(--thm-primary);
        }


.tour-one__content h3 {
    margin: 0;
    font-family: var(--thm-font);
    color: var(--thm-black);
    font-weight: 600;
    line-height: 34px;
    font-size: 26px;
}


    .tour-one__content h3 a {
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }

        .tour-one__content h3 a:hover {
            color: var(--thm-primary);
        }

.tour-one__carousel {
    margin-bottom: 20px;
}

    .tour-one__carousel .owl-nav.disabled + .owl-dots {
        margin-top: 20px;
    }

.tour-one__carousel-no-overflow .owl-stage-outer {
    overflow: visible;
}


.tour-one__carousel .owl-nav button.owl-next,
.tour-one__carousel .owl-nav button.owl-prev {
    font-size: 20px;
    color: var(--thm-black);
    font-weight: 500;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.tour-one__carousel .owl-nav button.owl-prev {
    margin-right: 15px;
}

    .tour-one__carousel .owl-nav button.owl-next:hover,
    .tour-one__carousel .owl-nav button.owl-prev:hover {
        color: var(--thm-secondary);
        background-color: transparent;
    }

.tour-two__single {
    display: -webkit-box;
    display: flex;
}

.tour-two__image-wrap .tour-one__image {
    width: 270px;
}

.tour-two__single .tour-one__content {
    padding: 0;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
}

.tour-two__top {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.tour-two__right p {
    margin: 0;
}

    .tour-two__right p span {
        display: inline-block;
        margin-bottom: 5px;
    }

.tour-two__text {
    margin-top: 20px;
    margin-bottom: 30px;
}

    .tour-two__text p {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 34px;
        color: #555;
    }

.tour-list {
    padding-top: 120px;
    padding-bottom: 120px;
}

    .tour-list .post-pagination {
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-top: 60px;
    }
    .tour-one__image {
        position: relative;
        background-color: var(--thm-black);
        overflow: hidden;
    }
    .blog-one__single {
        margin-bottom: 30px;
        position: relative;
    }
 


 
 

 